<template>
  <v-data-table :headers="headers" :items="payments" class="elevation-1 ma-3">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Payments</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <PaymentForm />
      </v-toolbar>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import { Payment } from "@/types/index";
import PaymentForm from "@/components/PaymentForm.vue";

export interface HomeData {
  headers: object;
}

const defaultPayment: Payment = { id: 0, amount: 0, description: "" };

export default Vue.extend({
  name: "Home",
  components: {
    PaymentForm,
  },
  data: function(): HomeData {
    return {
      headers: [
        { text: "id", value: "id" },
        { text: "description", value: "description" },
        { text: "amount", value: "amount" },
      ],
    };
  },
  computed: {
    ...mapGetters(["payments"]),
  },
  mounted() {
    console.log(this.$store);
    this.$store.dispatch("getPayments");
  },
});
</script>
