<template>
  <v-dialog v-model="dialog" max-width="500px">
    <template v-slot:activator="{ on }">
      <v-btn color="primary" dark class="mb-2" v-on="on">New Payment</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Add a new Payment</span>
      </v-card-title>

      <v-card-text>
        <!-- TODO: add form with imporved validation, and show errors from BE -->
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                v-model="editedItem.amount"
                label="Amount"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                v-model="editedItem.description"
                label="Description"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import { Payment } from "@/types/index";

const defaultPayment: Payment = { id: 0, amount: 0, description: "" };

export default Vue.extend({
  name: "PaymentForm",
  data: function() {
    return {
      dialog: false,
      editedItem: defaultPayment,
    };
  },
  methods: {
    close() {
      this.dialog = false;
    },

    save() {
      this.$store
        .dispatch("createPayment", {
          amount: Number(this.editedItem.amount),
          description: this.editedItem.description,
        })
        .then((response) => {
          this.dialog = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
});
</script>
